<header>
    <ul>
        <li>CHATROOM</li>
        <% if (currentUser && currentUser.isLogged === true) { %>
            <li><a href="/logout"><img src="/logout.png" alt="Logout Icon"></a></li>
        <% } %>
    </ul>
</header>
