<header>
    <ul>
        <li>LOGO</li>
        <% if (subscribed === true) { %>
            <li>My Posts</li>
            <li><img src="/logout.png" alt="Logout Icon"></li>
        <% } %>
    </ul>
</header>