<div class="members">
  <% users.forEach((item) => { %>
    <div class="member">
      <% if (item.authWith === 'google') { %>
        <img class="profile-image" src="<%= item.avatarGoogle || 'user.png' %>" alt="profile image">
      <% } else if (item.authWith === 'local') { %>
        <img class="profile-image" src="<%= item.profileImage || 'user.png' %>" alt="profile image">
      <% } %>
      <p><%= item.username %></p>
    </div>
  <% }) %>
</div>