<% if (currentUser && currentUser.isLogged === true) { %>
    <div class="input-container">
        <input type="text" placeholder="Write a message...">
    </div>

    <div class="button-container">
        <button>Post</button>
    </div>
<% } else { %>
    <div class="subscribe-message-container">
        <span>Only subscribers can post. Please subscribe for free</span>
    </div>

    <div class="subscribe-container">
        <button onclick="signin()">Sign In</button>
    </div>
<% } %>

<script>
    function signin() {
        window.location.href = '/login';
    }
</script>