<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/form.css">
    <link rel="icon" href="/favicon.ico" />
    <title>Sign Up</title>
</head>
<body>
    <form action="">

            <img src="/sign-in.png" alt="">
            <input type="text" name="username" placeholder="Username" autocomplete="off">
            <input type="password" name="password" placeholder="Password" autocomplete="off">
            <p class="signin-link">Not a member?<a href=""> Sign up</a></p>
            <button>LOG IN</button>
            <p>Or continue with:</p>
            <img src="/google.png" alt="">

    </form>
</body>
</html>