<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/form.css">
    <link rel="icon" href="/favicon.ico" />
    <title>Sign Up</title>
</head>
<body>
    <form action="">
        <div>
            <img src="" alt="">
            <label for="">Email<input type="text"></label>
            <label for="">Password<input type="text"></label>
            <p>Not a member? </p>
        </div>
    </form>
</body>
</html>