<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="icon" href="/favicon.ico" />
    <title>Online Chat</title>
</head>
<body>
    <main>
        <%- include('./partials/header') %>
        <%- include('./partials/posts') %>
        <%- include('./partials/members') %>
        <%- include('./partials/message') %>
    </main>
</body>
</html>