<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/form.css">
    <link rel="icon" href="chat.png">
    <title>Log In</title>
</head>
<body>
    <form action="/login" method="POST">
        <img src="/sign-in.png" alt="">
        <p class="error-message"><%= error[0] %></p>
        <input type="text" id="logic_username" name="username" placeholder="Username" autocomplete="off" required>
        <div class="pass-container">
            <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" minlength="6" maxlength="64" required oninput="confirm_password.pattern = this.value">
            <img src="eye.png" class="show-password" alt="">
        </div>
        <p>Not a member?<a href="/register"> Register</a></p>
        <button type="submit">Log In</button>
        <p>Or continue with:</p>
        <img src="/google.png" alt="">
    </form>
</body>
</html>
<script>
    const toggle = document.querySelector(".show-password")
    toggle.addEventListener("click", () => {
        const input = toggle.previousElementSibling;

        if (input.type === "password") {
            input.type = "text";
            toggle.src = "hidden.png"; 
        } else {
            input.type = "password";
            toggle.src = "eye.png";
        }
    });

    document.querySelectorAll("input").forEach((item) => {
        item.addEventListener("keydown", function (e) {
            if (e.key === " ") {
                e.preventDefault(); 
            }
        });
    })
</script>