<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/form.css">
    <link rel="icon" href="chat.png">
    <title>Sign Up</title>
</head>
<body>
    <form action="/register" method="POST"  id="create-user" enctype="multipart/form-data">
        <h1>Create an Account</h1>
        <input type="text" id="username" name="username" placeholder="Username" autocomplete="off" minlength="3" maxlength="15" pattern="^[a-zA-Z0-9_]{3,20}$" required>
        <div class="pass-container">
            <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" minlength="6" maxlength="64" required oninput="confirm_password.pattern = this.value">
            <img src="eye.png" class="show-password" alt="">
        </div>
        <div class="pass-container">
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Repeat Password" autocomplete="off" minlength="6" maxlength="64" title="Passwords must match" required>
            <img src="eye.png" class="show-password" alt="">
        </div>
        <div class="add-picture">
            <label for="profile-pic">Profile Image:</label>
            <input type="file" name="avatar" id="profile-pic" accept="image/*">
        </div>
        <button type="submit">Create</button>
    </form>
</body>
</html>
<script>
 document.querySelectorAll("input").forEach((item) => {
        item.addEventListener("keydown", function (e) {
            if (e.key === " ") {
                e.preventDefault(); 
            }
        });
    })

    const toggles = document.querySelectorAll(".show-password");

    toggles.forEach((toggle) => {
        toggle.addEventListener("click", () => {
        const input = toggle.previousElementSibling;

        if (input.type === "password") {
            input.type = "text";
            toggle.src = "hidden.png"; 
        } else {
            input.type = "password";
            toggle.src = "eye.png";
        }
        });
    });
</script>
