<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/form.css">
    <link rel="icon" href="/favicon.ico" />
    <title>Sign Up</title>
</head>
<body>
    <form action="/register" method="POST"  id="create-user">
        <h1>Create an Account</h1>
        <input type="text" name="username" placeholder="Username" autocomplete="off" required>
        <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" required oninput="confirm_password.pattern = this.value">
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Repeat Password" autocomplete="off" title="Passwords must match" required>

        <div class="add-picture">
            <label for="profile-pic">Profile Image:</label>
            <input type="file" name="profile_picture" id="profile-pic">
        </div>
        <button type="submit">Create</button>
    </form>
</body>
</html>
