/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.sixtyfour {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Set border-box on all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* COLORS */

:root {
  --background-color: #1b1c24;
  --card-background: #262733;
  --input-background: hsla(251, 20%, 56%, 0.1);
  --primary-button: #4b1aa5;
  --primary-button-hover: #5e31b1;
  --text-color: #ececec;
  --text-muted: #d9dbe2;
  --like-color: #a889fc;
  --username-color: #ccb8ff;
  --scrollbar-color: rgba(172, 142, 255, 0.148);
  --scrollbar-color-hover: rgba(165, 134, 251, 0.338);
}

/* LAYOUT */

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background: hsla(252, 40%, 29%, 1);
  font-size: 16px;
  line-height: normal;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    90deg,
    hsla(252, 40%, 29%, 1) 0%,
    rgb(104, 78, 130) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(252, 40%, 29%, 1) 0%,
    rgb(104, 78, 130) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(252, 40%, 29%, 1) 0%,
    rgb(155, 109, 201) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Segoe UI", sans-serif;
  color: var(--text-color);
}

main {
  width: 900px;
  height: 700px;
  min-width: 100px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(20px);
  border: 1px solid rgb(255, 255, 255, 0.07);
  -webkit-backdrop-filter: blur(20px);
  padding: 25px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  margin: 0 20px;

  display: grid;
  grid-template-areas:
    "header header"
    "posts members"
    "input button";

  grid-template-columns: 3fr 1fr; /* 2/3 for posts, 1/3 for members */
  grid-template-rows: auto 1fr auto;
  gap: 10px;
}

@media (max-width: 769px) {
  main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;
  }
}

@media (max-width: 769px) {
  main {
    grid-template-areas:
      "header header"
      "members members"
      "posts posts"
      "input input"
      "button button";

    grid-template-rows: 50px 60px 1fr 55px 55px;
    gap: 0;
    border-radius: 0;
  }
}

/****** HEADER ******/

header {
  grid-area: header;
  padding: 10px 0;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  font-size: 1em;
  gap: 20px;
  cursor: pointer;
  margin-bottom: 15px;
}

header ul img {
  width: 19px;
  height: 19px;
}

header ul li:first-child {
  font-family: "Sixtyfour", sans-serif;
  font-size: 1.3em;
}

header ul li:nth-child(2) {
  margin-left: auto;
}

header li {
  transition: transform 0.3s ease-in;
  display: flex;
  align-items: center;
}

header li:hover {
  transform: scale(1.1);
}

@media (max-width: 769px) {
  header {
    margin-bottom: 0;
  }
  header ul {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 5px;
    margin: 5px 0 5px 0;
  }
  header ul li {
    font-size: 1.1em;
  }
}

/****** POSTS ******/

.posts {
  grid-area: posts;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
  margin-right: 5px;
  color: var(--text-muted);
  overflow-y: scroll;
  overflow-x: hidden;
}

.posts::-webkit-scrollbar {
  background-color: #ffffff00;
  width: 8px;
}

.posts::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}

.posts::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-color-hover);
  cursor: pointer;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content {
  font-size: 1.1em;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  font-size: 1.1em;
  color: var(--text-color);
}

.like {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  cursor: pointer;
}

.like img {
  width: 17px;
  height: 17px;
  transition: transform 0.2s ease-in-out;
}

.like:hover img {
  transform: scale(1.2);
}

.like p:last-child {
  margin-left: 10px;
}

.members {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  border: 1px solid rgb(255, 255, 255, 0.07);
  grid-area: members;
}

.author img {
  width: 40px;
  height: auto;
}

@media (max-width: 769px) {
  .posts {
    margin-top: 15px;
  }
}

/******** INPUT SECTION ********/

.input-container,
.subscribe-message-container {
  grid-area: input;
  margin-top: 15px;
  font-size: 1.1em;
  height: 45px;
  margin-bottom: 3px;
}

.input-container input {
  height: 100%;
}

.input-container input,
.subscribe-message-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 20px;
  width: 100%;
  border: none;
  background-color: var(--input-background);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  border: 1px solid rgb(255, 255, 255, 0.07);
  color: var(--text-color);
}

.subscribe-message-container span {
  color: var(--text-muted);
}

.input-container input:focus {
  outline: none;
  border: 1px solid rgb(255, 255, 255, 0.07);
}

.input-container input::placeholder {
  color: var(--text-muted);
  font-size: 1.2em;
}

.button-container,
.subscribe-container {
  grid-area: button;
  margin-top: 15px;
  margin-bottom: 3px;
}

.button-container button,
.subscribe-container button {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-button);
  color: var(--text-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  border: 1px solid rgb(255, 255, 255, 0.07);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-weight: 600;
  font-size: 1.05em;
}

.button-container button:hover,
.subscribe-container button:hover {
  background-color: var(--primary-button-hover);
  transform: scale(1.05);
}

@media (max-width: 769px) {
  .input-container,
  .subscribe-message-container {
    height: 50px;
    position: fixed;
    width: 100%;
  }
  .button-container {
    height: 45px;
    position: fixed;
    width: 100%;
  }
}

/****** MEMBERS ******/

.members {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 11px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 5px;
  height: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-weight: 600;
}

.members::-webkit-scrollbar {
  display: none;
}

.member {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
}

.profile-image {
  padding: 3px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 769px) {
  .members {
    flex-direction: row;
    overflow-x: scroll;
  }
  .member p {
    display: none;
  }
}

#username_post {
  font-weight: 600;
  color: var(--username-color);
}
